.bunny-jump__svg {
    position: relative;
}

.bunny-jump__dots {
    position: absolute;
    top: 0;
    left: 2px;
    offset: path("M0 327H178.5M357 327H178.5M178.5 327V0");
    offset-distance: 55%;
    animation: move 7s ease-out infinite, falling 7s ease-in-out  infinite;;
}

.bunny-jump__dots svg {
    animation: falling 7s ease-in-out  infinite;
}

@keyframes move {
    0% {
        offset-distance: 55%;
    }
    
    40% {
        offset-distance: 95%;
    }

    50% {
        offset-distance: 80%;
    }

    60% {
        offset-distance: 85%;
    }

    70% {
        offset-distance: 70%;
    }

    80% {
        offset-distance: 75%;
    }

    100% {
        offset-distance: 55%;
    }
}

@keyframes falling {
    0%, 39% {
        transform: translateZ(0) scaleX(1);
    }
    40%, 49% {
        transform: scaleX(1.1);
    }
    50%, 59% {
        transform: scaleX(1);
    }
    60%, 69% {
        transform: scaleX(1.1);
    }
    70%, 100% {
        transform: scaleX(1);
    }
}