/* *** STYLING FOR COMPONENTS AND PAGES *** */

/* TOP HEADER COMPONENT */

.top-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}
.top-header > *:nth-child(1) {
    justify-self: start;
}
.top-header > *:nth-child(3) {
    justify-self: end;
}

.top-header__logo {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.top-header__logo img {
    height: 3rem;
}

/* NAVIGATION COMPONENT */

.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* HAMBURGER MENU COMPONENT */

.hamburger-menu {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.hamburger-menu button {
    position: relative;
    z-index: 999;
}

.hamburger-menu>nav {
    z-index: 998;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    width: 100%;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    background-color: #2e7a82;
}

.hamburger-menu>nav a {
    font-size: 1.4rem;
}

.hamburger-menu svg {
    scale: .6;
    transition: stroke .3s;
}

.hamburger-menu svg:hover path {
    stroke: #FC6BFF;
}

/* MAP COMPONENT */

.map {
    position: relative;
    padding: 3rem 3rem 3rem 4rem;
    margin-top: 2.5rem;
}

/* MAP DOT COMPONENT */

.map-dot {
    position: absolute;
    top: 25px;
    text-align: center;
    offset-path: path("M458.565 171.132V2H2V171.132H348.949L458.565 171.132ZM458.565 171.132L610 171.132V647.841H208.826V1102.43H330.234V906.177H522.183V1102.43H610V1258H2V980.711V476.742H458.565V171.132Z");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.map-dot h4 {
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#map-dot-0,
#map-dot-5,
#map-dot-6,
#map-dot-10,
#map-dot-11,
#map-dot-13 {
    transform: rotate(.75turn);
}

#map-dot-7,
#map-dot-8,
#map-dot-12,
#map-dot-14 {
    transform: rotate(.5turn);
}

.map-dot__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FC6BFF;
    padding: 0;
    display: flex;
    place-content: center;
}

/* OVERLAY COMPONENT */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay>article {
    max-width: 900px;
    background-color: #1a1a1a;
    padding: 4rem;
    display: flex;
    border-radius: 1rem;
    gap: 3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* PARK FEATURE COMPONENT */

.park-feature figure {
    max-width: 300px;
}

.park-feature figure img {
    width: 100%;
}

/* BUTTON COMPONENT */

.button {
    background-color: #2e7a82;
    padding: 1rem 1.4rem;
    border-radius: .5em;
}

/* CARD COMPONENT */

.card {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 320px;
}

.card:hover {
    box-shadow: 0px 0px 10px #FC6BFF;
}

.card figure {
    height: 320px;
    display: flex;
    align-items: flex-end;
}

.card img {
    width: 100%;
}

.card--small {
    max-width: 400px;
    flex-direction: column;
}

/* PAGE NOT FOUND PAGE */

.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ACCOMODATION PAGE */

.accomodation__section {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem ;
}

.accomodation__cardstack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem
}

/* HOME PAGE */

.home {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home__h1 {
    z-index: 1;
    font-size: 6rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

.home__h1 span {
    display: inline-block;
}

.home__h4 {
    color: #FC6BFF;
}

.home__balloons img {
    position: absolute;
    z-index: 0;
    bottom: -200px;
}
.home__balloons img:nth-of-type(1) {
    left: 10%;
}
.home__balloons img:nth-of-type(2) {
    left: 20%;
    z-index: 2;
}
.home__balloons img:nth-of-type(3) {
    left: 30%;
}
.home__balloons img:nth-of-type(4) {
    left: 40%;
}
.home__balloons img:nth-of-type(5) {
    left: 50%;
}
.home__balloons img:nth-of-type(6) {
    left: 60%;
    z-index: 2;
}
.home__balloons img:nth-of-type(7) {
    left: 70%;
}
.home__balloons img:nth-of-type(8) {
    left: 80%;
}
.home__balloons img:nth-of-type(9) {
    left: 85%;
}
.home__balloons img:nth-of-type(10) {
    left: 3%;
}
.home__balloons img:nth-of-type(11) {
    left: 15%;
}
.home__balloons img:nth-of-type(12) {
    left: 25%;
}
.home__balloons img:nth-of-type(13) {
    left: 35%;
}
.home__balloons img:nth-of-type(14) {
    left: 45%;
}
.home__balloons img:nth-of-type(15) {
    left: 55%;
}
.home__balloons img:nth-of-type(16) {
    left: 65%;
}
.home__balloons img:nth-of-type(17) {
    left: 75%;
}
.home__balloons img:nth-of-type(18) {
    left: 88%;
}

.home button {
    position: relative;
    z-index: 3;
    overflow: hidden;
    transition: transform .3s;
    animation: float 1s ease-in-out infinite alternate;
}

.home button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: translateX(-120%) skew(-20deg);
    animation: shine .4s linear;
    animation-delay: 4.5s;
}

.home__scaling-box {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto;
    z-index: 4;
}

/* PARK PAGE */

.park {
    display: flex;
}

/* KEY FRAMES */

@keyframes shine {
    0% {
        transform: translateX(-120%) skew(-50deg);
    } 
    100% {
        transform: translateX(140%) skew(-50deg);
    }
}

@keyframes float {
    from {
        transform: translateY(0) translateZ(0);
    }
    to {
        transform: translateY(-10px) translateZ(0);
    }
}