/* TOP HEADER COMPONENT */

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.top-header__logo {
    font-family: 'Paytone One', sans-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.top-header__logo img {
    height: 4rem;
}

/* NAVIGATION COMPONENT */

.navigation {
    display: flex;
    gap: 1rem;
}

/* PARK COMPONENT */

.park {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

/* MAP COMPONENT */

.map {
    position: relative;
    padding: 3rem;
    margin-top: 2.5rem;
}

/* MAP DOT COMPONENT */

.map-dot {
    position: absolute;
    top: 25px;
    text-align: center;
    offset-path: path("M1.5 1.5V429H363H635V763H217V1081.5H343.5V944H543.5V1081.5H635V1190.5H1.5");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.map-dot h4 {
    margin: 0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#map-dot-0,
#map-dot-3,
#map-dot-4,
#map-dot-7,
#map-dot-8 {
    transform: rotate(.75turn);
}

#map-dot-5,
#map-dot-6 {
    transform: rotate(.5turn);
}

.map-dot__button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FC6BFF;
    padding: 0;
    display: flex;
    place-content: center;
}

/* OVERLAY COMPONENT */

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay > article {
    max-width: 900px;
    background-color: #1a1a1a;
    padding: 4rem;
    display: flex;
    border-radius: 1rem;
    gap: 3rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}